{% block content %}
    <div class="sparkline">
        {{ sparkline(urlSparklineBandwidth)|raw }}
        {{ 'Bandwidth_SparklineTotalBandwidthDetails'|translate("<strong>"~nbTotalBandwidth~"</strong>")|raw }}
    </div>
{% endblock %}